/* font-family: 'Roboto', sans-serif;
font-family: 'Raleway', sans-serif; */

body {
  background: #fff;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  color: #222;
  margin: 0;
  padding: 0;
  flex: 1;
  height: 100vh;
}
html {
  height: 100%;
}
.container {
  display: flex;
  justify-content: center; /* align horizontal */
  align-items: center; /* align vertical */
  max-width:800px;
  margin:60px auto;
  text-align: center;
}

.meg_img img {
  border-radius:50%/50%;
  margin-bottom:.5rem;
  width: 275px;
  height: 275px;
}

.container_name {
  font-weight: 900;
  font-size:22px;
}
.container_role {
  margin-top:-3rem;
  padding-top:.75rem;
  font-size:16px
}
.meg_links-container {
  display:flex;
  flex-direction: column;
  align-items: center;
  margin:1.5rem;
  padding: 5px;
}
.project_links {
  font-size: 22px;
  display: flex;
  flex-direction: column;
  text-align: vertical;
  margin-bottom: 10px;
}
.social_links a {
  font-size: 35px;
  /* margin-top:1rem; */
  padding: 12px;
  flex-direction: row;
  display: inline-block;
  line-height: 50px;
}
/* a .fab fa-twitter {
  padding: 5px;
  font-size: 40px;
} */
{
@media only screen and (max-width:600px)
}
